HASH_KEY=
BLOCK_KEY=
INTERNAL_SHARED_SECRET_KEY=

BACKENDS=act
BACKEND_ACT_URL=http://localhost:8888
BACKEND_ACT_SHARED_SECRET=
BACKEND_ACT_SESSION_LIMIT=20
BACKENDS_ALLOWALL=true
BACKENDS_ALLOWALL_SECRET=

NATS_URL=nats:4222

USE_JANUS=1
JANUS_URL=ws://janus:8188

USE_PROXY=0

HTTP_LISTEN=0.0.0.0:8080
